*{
    margin: 0;
  padding: 0;
  box-sizing: border-box;
    font-family: "Lato" !important;
}

html,
body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  scroll-behavior: smooth;
}

section{
    padding: 40px 20px;
}
.lato-regular {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;
  }
.container-top{
    background-color: #a367c7;
    
}
.nav-tabs{
   
        justify-content: space-between;
        align-items: center;
        border: 0px solid transparent;
}
a {
    color: white;
    border: 0px;
    text-decoration: none;
}
.nav-tabs a{
    color: white;
    border: 0px;
    text-decoration: none;
}
.nav-btn{
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 0px;
    padding: 5px !important;
}
.menu-icon{
    display: none;
}
.nav-row{
    display: flex;
}

/* '''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''' */
.dropbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    /* color: white; */
    height: 35px;
    width: 35px;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-image: url(../icons/list.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  
  .dropbtn:hover, .dropbtn:focus {
    background-color:transparent;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:transparent;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: -100px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: transparent;}
  
  .show {display: block;}
 
/* '''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''' */

@media only screen and (max-width:768px){
    .nav-tabs{
        display: none !important;
    }
    .menu-icon{
        display:inline !important;
    }
    .size20{
        font-size: 16px !important;
    }
}

/* hero start */
.hero div{
    color: white;
}
.size42{
    font-size: 42px;
}
.size18{
    font-size: 18px;
}
.size22{
    font-size: 22px;
}
form .input{
    width: 40%;
    padding:12px 15px !important;
    border:1px solid rgb(171, 170, 170);
    border-radius: 0px;
}
.btn-blue{
    background-color:#48c7aa ;
    border: 1px solid #48c7aa;
    border-radius: 0px;
    color: white;
    padding: 12px 42px !important;
}
.btn-blue:hover{
    background-color: #48c7aa;
}
.hero-keywords h3{
    color: black;
}
.span-keywords{
    background-color: rgb(144, 142, 142);
     height: fit-content;
    border-radius: 5px;
    padding: 0px !important;
    margin: 5px !important;
    font-size: 13px;
}

@media only screen and (max-width:768px){
    .hero-text{
        padding: 10px !important;
    }
    .size42{
        font-size: 28px;
    }
    form .input{
        width: 100%;
        margin-bottom: 10px !important;
    }
    form .search-btn{
        width: 100%;
    }
}

/* hero end */

/* ----------------------------------------------------------------------------------- */

/* main start */


/* carosol start */
@keyframes slide{
    from{
        transform: translateX(0);
    }

    to{
    transform: translateX(-395%);
    }
}
.carosol-row{
    overflow: hidden;
    padding: 20px !important;
    
}
.slide{
    white-space: nowrap;
   
  
}
.slide img{
      width: 130px;
      margin: 0 16px !important;
      
}

@media only screen and (max-width:768px){
    .slide{
        animation: 10s slide infinite linear;
    }
}
/* carosol end */

/* categorie start */
   .size40{
    font-size: 40px;
   }
   .cat-heading{
    font-weight: bold;
    text-align: center;
    color: #000000;
    margin: 0px auto;
}
.span-div {
    display: flex;
    justify-content: center;
    padding: 7px !important;
}
.span-div span{
        content: "";
        width: 22%;
        background: #48C7AA;
        height: 5px;
        display: flex;
        margin: 15px auto;
        border-radius: 10px;
}
.cat-icons div{
    margin-bottom:15px !important;
}
.cat-icons div img{
    width: 100px;
    
}

@media only screen and (max-width:768px){
    .span-div span{
        width: 50%;
    }
    .cat-icons div img{
        width: 100px;
    }
}
/* categorie end */

/* <!-- letest job openigs start --> */
.letest-jobs{
    display: flex;
    justify-content: space-between;
}
.job-des {
  border-radius: 10px;
  border: 1px solid white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  padding: 15px !important;
  display: flex;
}
.job-des img{
    width: 100px;
}
.job-des-icons {
    align-items: center;
}
.job-des-icons img{
    width: 25px;
}
.size20{
    font-size: 20px;
}
.size12{
    font-size: 12px;
}
.color-job{
    color: #555555d9;
}
.sayan-btn {
    width: fit-content;
    padding: 2px 3px !important;
    background-color: #48C7AA;
    color: white;
    border-radius: 4px;
    font-size: 14px;
    height: 30px;
}
.sayan-btn:hover{
    background-color: #48C7AA;
    color: white;
}
.job-des-icons div span{
    display: flex;
    justify-content: center;
    background-color: rgb(72, 199, 170);
    width: fit-content;
    padding: 2px 4px !important;
    border-radius:4px ;
    color: white;
}
.load-more-btn{
    padding: 20px !important;
    border: 2px solid #9fd6c4e4;
    display: flex;
    justify-content: baseline;
    align-items: center;
    font-size: 20px;
    box-shadow: rgba(139, 243, 218, 0.898) 0px 2px 8px;
}

@media only screen and (max-width:768px){
    .letest-job-post{
        display: flex;
        justify-content: center;
    }
    .job-des{
        display:flex ;
        flex-direction: column;
        align-content: center;
        width: fit-content;
        text-align: center;
        text-wrap: nowrap;
    }
    .job-des-icons{
        flex-direction: column;
        justify-content: space-between !important;
        gap: 2px;
    }
    
    
}

 /* <!-- letest job openigs end --> */

 /* <!-- freelancers start --> */
 
 .freelancer-card{
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   gap: 10px;
 }
 .freelancer-card div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 7px;
   
 }
 .freelancer-card-img{
    width: 100px;
    height: 100px;
 }
.freelancer-card-img img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-position: top;
    object-fit: cover;
}

/* <!-- freelancers end --> */


.clients-logo .owl-nav button{
    width: 30px;
    height: 30px;
}

.clients-logo .clients-logo-item{
margin: 20px 20px !important;
}

.hero-img{
    height: 400px;
    width: 400px;
}

/* mediaclub starts */
.why-mediaclub{
    background-color: #BAE9DF;
}
.why-mediaclub-img{
    height: 500px;
    width: 500px;
    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 20px;
    overflow: hidden;
}
.why-mediaclub-img img{
    /* height: 80%; */
    width: 90%;
    object-fit: cover;
    object-position: top;
    
}
.why-mediaclub-content-check_icon{
    height: 35px;
    width: 35px;
}
.why-mediaclub-content-check_icon img{
    height: 100%;
    width: 100%;
}
.why-mediaclub-content{
    gap: 15px;
    margin-left: -20px;
   
}
.size25{
    font-size:25px ;
}
/* mediaclub starts */

/* services start */

.services-section-card1{
    background-image: url(../images/bg1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}
.services-section-card2{
    background-image: url(../images/bg2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}
.services-section-card3{
    background-image: url(../images/bg3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}
/* services end */

/* guides start */
.guides-section-card{
    
    overflow: hidden;
    padding: 0%;
    
}
.guides-section-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
/* guides end  */

/* footer start */
.footer-top{
    gap: 20px;
}
.footer-logo{
    width: 250px;
}
.footer-logo img{
    width: 100%;
}
footer form input{
    padding: 5px;
    width: 200px;
    border: 0px;
    height: 40px;
}
.gray-btn{
    padding: 5px;
    margin-left: -20px;
    border: 0px;
    color: white;
    height: 40px;
}
/* footer start */

/* main end*/
/* ----------------------------------------------------------------------------------- */
